
  body {
    background: url('/assets/best.jpeg') ;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100%;
    width: 100%;
    min-height: 100vh;
}
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100vh;
    width: 100vw;
  }
  
  
  .login-form {
    margin: auto;
    padding-top: 100px;
    width: 350px;
    background-color: #e0e7e9dc;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(220, 14, 14, 0.1);
    padding: 20px;
  }
  
  .login-form p {
    
    margin-top: 16px;
  }
  
  .login-form-button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 16px;
  }
  .form-button{
    border-radius: 20px; 
  }
  
  .login-form-forgot {
    float: right;
    color: rgb(0, 38, 255);
  }
  
  .login-form-forgot:hover {
    text-decoration: underline;
  }
  
  
  .login-form-forgot:focus {
    outline: none;
  }
  
  
  .login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .text-center{
    color:rgb(0, 60, 255);
    text-align: center;
  }
