 <div class="container">
  <!-- <div>
    <input nz-input type="text" [(ngModel)]="searchTerm" placeholder="Search by username" style="width: 40%;" />
    <button nz-button nzType="primary" (click)="filterCards()" [disabled]="searchTerm === ''">
      Search
    </button>
  </div>  -->
  <br />

  <div class="card-list">
    <div nz-row>
    <div class="card" *ngFor="let card of motors" nz-col nzSpan="8">
      <nz-card style="width: 250px; margin-right: 16px;"  [nzCover]="coverTemplate">
        <nz-card-meta nzTitle="{{card.motorName}}"></nz-card-meta>
        Status: {{ card.status }}<br />
        Current Value: {{ card.currentValue }}<br />
        Temperature: {{ card.temperatureValue }}<br />
        Vibration Value: {{ card.vibrationValue }}<br />
        Time: {{ card.timesStamp }}<br />
        Date: {{ card.date }}
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" src="/assets/motor1.jpeg" width="250px" height="250px" />
      </ng-template>
    </div>
  </div>
  </div>
  <div class="pagination-container">
    <nz-pagination
      [nzPageIndex]="currentPage"
      [nzPageSize]="pageSize"
      [nzTotal]="filteredCardsData.length"
      (nzPageIndexChange)="onPageChange($event)"
    ></nz-pagination>
  </div>
</div>