
<div class='container'>
    <div *ngxPermissionsOnly="['CLERK']">
        <app-set-new-route style="float:right" [route]='route' (output)='reload($event)'></app-set-new-route>
      </div>
      <br>
     <nz-table  #basicTable [nzData]='routes' [nzPageSize]='6'>
       <thead>
       <tr>
         <th>Route</th>
         <th>Distance(km)</th>
         <!-- <th></th> -->
       </tr>
       </thead>
       <tbody>
       <tr *ngFor='let data of basicTable.data'>
         <td>{{data.fromDestination | titlecase}} - {{data.toDestination | titlecase}}</td>
         <td>{{data.distance }} </td>
         <!-- <td>
           <nz-button-group>
          <app-set-new-route [route]='data' (output)='load($event)'></app-set-new-route>
           </nz-button-group>
         </td> -->
       </tr>
       </tbody>
     </nz-table>
   </div>
   
