<button class="mb-2 ml-3" nz-button (click)="toggle(true)" nzType="primary">
    <i nz-icon nzType="edit" nzTheme="outline" *ngIf="bus.id"></i>
    <span *ngIf="!bus.id">Add Bus</span>
  </button>
  <br>
  
  <nz-drawer [nzClosable]="false" [nzWidth]="200" [nzVisible]="visible" nzPlacement="right"
             [nzTitle]="bus.id ? 'Update Bus' : 'Add Bus'" (nzOnClose)="toggle(false)">
    <ng-container *nzDrawerContent>
      <form nz-form [formGroup]="form" nzLayout="vertical" (ngSubmit)="submit()">
        <formly-form [model]="bus" [fields]="fields" [options]="options" [form]="form"></formly-form>
        <nz-button-group class="mt-1">
          <div>
            <button nz-button nzType="primary" type="submit" [disabled]="form.invalid">Save</button>
          </div>
          <button nz-button nzType="primary" (click)="toggle(false)" nzGhost type="reset">Cancel</button>
        </nz-button-group>
      </form>
    </ng-container>
  </nz-drawer>
  