
<div class='container'>
    <div >
         </div>
      <br>
     <nz-table  #basicTable [nzData]='fuelLevel' [nzPageSize]='6'>
       <thead>
       <tr>
         <th>Fleet Number</th>
         <th>Allocated Fuel(litres)</th>
         <th>Remaining Fuel(litres)</th>
       </tr>
       </thead>
       <tbody>
       <tr *ngFor='let data of basicTable.data'>
         <td>{{data.fleetNumber}}</td>
         <td>{{data.allocatedFuel }} </td>
         <td>{{data.remainingFuel }}</td>
       </tr>
       </tbody>
     </nz-table>
   </div>
   
